In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('train.csv')

In [22]:
df

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5
0,489652,6578,10-Sep-05,4,0,0,0,2
1,507246,6578,18-Aug-05,45,5,0,0,7
2,523729,6534,29-Apr-06,0,0,0,0,0
3,524931,6535,07-Feb-04,0,0,0,0,0
4,521364,6529,28-Feb-06,15,1,0,0,7
...,...,...,...,...,...,...,...,...
75273,500969,6539,03-Jan-05,0,0,0,0,0
75274,511952,6528,13-Feb-06,0,0,0,0,0
75275,521236,6554,24-May-05,0,0,0,0,0
75276,518817,6580,22-Dec-04,0,0,0,0,0
75277,511284,6555,08-Aug-05,0,0,0,0,0

In [23]:
df.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5'],
      dtype='object')

In [28]:
df.dtypes

Patient_ID            int64
Health_Camp_ID        int64
Registration_Date    object
Var1                  int64
Var2                  int64
Var3                  int64
Var4                  int64
Var5                  int64
dtype: object

In [29]:
df.shape

(75278, 8)

In [30]:
df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [31]:
df.tail()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5
75273,500969,6539,03-Jan-05,0,0,0,0,0
75274,511952,6528,13-Feb-06,0,0,0,0,0
75275,521236,6554,24-May-05,0,0,0,0,0
75276,518817,6580,22-Dec-04,0,0,0,0,0
75277,511284,6555,08-Aug-05,0,0,0,0,0

In [32]:
percent_missing = df.isnull().sum()*100/len(df)

In [33]:
percent_missing

Patient_ID           0.000000
Health_Camp_ID       0.000000
Registration_Date    0.443689
Var1                 0.000000
Var2                 0.000000
Var3                 0.000000
Var4                 0.000000
Var5                 0.000000
dtype: float64

In [34]:
df.describe()

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5
count,75278.000000,75278.000000,75278.000000,75278.000000,75278.000000,75278.000000,75278.000000
mean,507233.325660,6547.597319,0.796156,0.238556,0.000385,0.022424,0.248386
std,12404.734886,19.272983,7.626687,3.769594,0.019624,0.199570,1.213938
min,485679.000000,6523.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,496505.250000,6534.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,507276.500000,6541.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,517919.000000,6562.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,528657.000000,6587.000000,288.000000,156.000000,1.000000,4.000000,31.000000

In [35]:
df['Var2'].mean()

0.23855575334094956

In [36]:
df['Var2'].std()

3.769593948968277

In [37]:
df.to_csv('train_output.csv')

In [41]:
dfxlsx = pd.read_excel('train.xlsx')